%rub-regular{
    font-family: 'Rubik', sans-serif;
    font-weight: 400; 
}

%rub-medium{
    font-family: 'Rubik', sans-serif;
    font-weight: 500; 
}

%rub-bold{
    font-family: 'Rubik', sans-serif;
    font-weight: 700; 
}
