@import "libs/libs";
@import "fonts";
@import "vars";
@import "global";



.header {
    padding-top: 50px;
    padding-bottom: 10px;
    overflow-x: hidden;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        position: relative;
    }

    &__top {
        display: flex;
        align-items: center;
        padding-bottom: 25px;
    }

    &__mid {
        display: flex;
        position: relative;
    }

    &__mid-text {
        display: flex;
        flex-direction: column;
    }

    &__mid-title {
        font-size: 48px;
        line-height: 57px;
        color: #131313;
        margin-bottom: 40px;
        max-width: 525px;
    }

    &__mid-content {
        line-height: 36px;
        max-width: 460px;
        margin-bottom: 80px;
    }

    &__mid-button {
        max-width: 235px;
        background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 16px;
        border: none;
        padding: 23px 41px;
        cursor: pointer;
    }
    &__img{
        position: absolute;
        right:-12%;
        top: 10%;
        &::before{
            position: absolute;
            content: "";
            background: linear-gradient(180deg, #7421B0 0%, #D08EFF 100%);
            border-radius: 70px;
            height: 145%;
            width: 90%;
            top: -20%;
            left: 25%;
            z-index: -1;
        }
        &::after{
            position: absolute;
            content: "Бесплатная программа для Windows";
            background: rgba(196, 196, 196, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(40px);
            border-radius: 10px;
            width: 33%;
            height: 25%;
            bottom: -22%;
            right: 25%;
            color: #FFFFFF;
            font-size: 15px;
            line-height: 160%;
            padding: 28px 52px;
        }
    }

    &__mid-img {
        width: 85%;
        object-fit: cover;
        object-position: center;
    }

    &__bottom {
        padding-bottom: 50px;
        padding-top: 5px;
    }

    &__bottom-arrow {
        &::after{
        content: url('../images/top-arrow-down.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 46px;
        height: 46px;
        }
    }
} 

.menu {
    margin-left: auto;

    &__list {
        display: flex;
        padding-right: 60px;
        gap: 60px;
    }

    &__list-item {
        color: #565656;
        line-height: 150%;
        @extend%rub-medium;
        transition: all 0.3s;
        &:hover{
            color: #7421B0;
        }
    }
}
.logo{
    object-fit: contain;
    object-position: center;
    width: 250px;
    height: 40px;
}
.lang {
        color: #565656;
        font-size: 16px;
        line-height: 150%;
        @extend%rub-medium;
        cursor: pointer;
        &:after{
            content: url('../images/lang-bg.svg');
            margin-left: 6px;
        }
}


.introduce {
    margin-bottom: 260px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__text {
        flex-basis: 570px;
        margin-left: 140px;
        margin-bottom: 80px;
        font-size: 18px;
        line-height: 200%;
        @extend%rub-medium;
    }
    &__text span{
        color: #131313;
    }

    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__list-box {
        flex-basis: 330px;
        padding: 50px 60px 60px;
        background-color: #FFFFFF;
        box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
        border-radius: 10px;
        transition: all 0.3s;
        cursor: url(../images/cursor.svg), pointer;

        &:hover{
            background-color: #7421B0;
            box-shadow: 0px 26px 48px -23px #7421B0;
            .introduce__list-text{
                color: #FFFFFF;
            }
        }
    }

    &__list-img {
        object-fit: contain;
        width: 80px;
        height: 80px;
        object-position: center;
    }

    &__list-text {
        font-size: 20px;
        line-height: 32px;
        color: #131313;
        @extend%rub-medium;
        transition: all 0.3s;
    }
}

.gif__inner{
    padding: 150px 300px 185px;
    background-color: #FFFFFF;
    box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    flex-basis: 705px;
    &::before{
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -35%;
        max-height: 900px;
        z-index: -1;
    }
    
}



.recording{
    .gif__inner{
        &::before{
            content: url('../images/sect-recording.svg');
            left: 0;
        }
    }
}

.linking{
    .gif__inner{
        &::before{
            content: url('../images/sect-linking.svg');
            left: 0;
        }
    }
}

.clicking{
    .gif__inner{
        &::before{
            content: url('../images/sect-clicking.svg');
            right: 0;
        }
    }
}

.redactor{
    .gif__inner{
        &::before{
            content: url('../images/sect-redactor.svg');
            right: 0;
        }
    }
}

.gif-img {
    max-width: 705px;
    max-height: 397px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.page-section{
    margin-bottom: 260px;
    position: relative;
    width: 100%;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }
    &__content{
        flex-basis: 460px;
    }
}

.recording,
.clicking,
.linking,
.redactor{
    &__text span{
        color: #7421B0;
    }
}

.introduce-saving{
    padding-top: 100px;
    margin-bottom: 200px;
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;

        .introduce__list{
            margin-bottom: 90px;
        }
    }
}
.saving-button{
    background: #131313;
    border-radius: 5px;
    border: none;
    padding: 23px 41px;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    @extend%rub-medium;
    max-width: 245px;
    margin: 0 auto;
    border: 1px solid #828282;
}

.functions-uses {
    margin-bottom: 200px;
    position: relative;
    width: 100%;
    &::before{
        content: url('../images/funck-us-left.png');
        position: absolute;
        left: 0;
        top:15%;
        z-index: -1;
    }

    &::after{
        content: url('../images/funck-us-right.png');
        position: absolute;
        right: 0;
        top:40%;
        z-index: -1;
    }

    .container{
        padding: 100px 135px 60px;
        background: linear-gradient(1.36deg, rgba(255, 255, 255, 0.5) 0.92%, rgba(255, 255, 255, 0) 61.36%), linear-gradient(123.35deg, rgba(235, 243, 208, 0.05) 0%, rgba(235, 243, 208, 0) 18.4%), radial-gradient(29.9% 70.94% at 44.25% 86.96%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(33.83% 53.57% at 35.87% 100%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, rgba(203, 173, 235, 0.05) 0%, rgba(194, 166, 241, 0) 100%), linear-gradient(134.59deg, rgba(205, 249, 232, 0.05) 20.63%, rgba(205, 249, 232, 0) 47.84%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, rgba(192, 169, 240, 0.05) -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, rgba(192, 169, 240, 0.05) 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, rgba(255, 253, 177, 0.05) 0%, rgba(254, 228, 191, 0.05) 34.46%, rgba(240, 189, 208, 0.05) 69.5%, rgba(255, 129, 38, 0) 100%), rgba(194, 166, 241, 0.05);
        border: 4px solid rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(40px);
        border-radius: 70px;
        max-width: 1730px;
    }
}


.functions {
    margin-bottom: 200px;

    .title{
        margin-bottom: 100px;
    }
		&__inner {
            display: flex;
            flex-direction: column;
		}

		&__list {
            display: flex;
            justify-content: space-between;
            gap: 15px;
		}

		&__list-box {
            display: flex;
            flex-direction: column;
            flex-basis: 395px;
            counter-increment: section;
		}

		&__list-img {
            max-width: 111px;
            min-height: 120px;
            object-fit: contain;
            object-position: center;
            width: 100%;
            margin-bottom: 60px;
		}

		&__list-title {
            @extend%rub-medium;
            font-size: 24px;
            line-height: 28px;
            color: #131313;
            margin-bottom: 60px;
            &::before{
                content: "0" counter(section) ". ";
                font-size: 36px;
                line-height: 43px;
                color: #7421B0;
            }
		}
}

.uses {

		&__inner {
            display: flex;
            flex-direction: column;
		}

		&__steps {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            margin-bottom: 60px;
            margin-top: 100px;
		}

		&__step {
            display: flex;
            flex-direction: column;
		}

		&__steps-title {
            font-size: 36px;
            line-height: 43px;
            color: #7421B0;
            @extend%rub-bold;
            margin-bottom: 60px;

		}
        &__steps-content {
            margin-bottom: 40px;
            padding: 90px 135px;
            font-size: 13px;
            line-height: 180%;
            color: #7421B0;
            background-color: #FFFFFF;
            box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
            border-radius: 10px;
            max-height: 204px;
            overflow: hidden;
		}

		&__steps-button {
            color: #FFFFFF;
            padding: 23px 35px;
            max-width: 255px;
            background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
            box-shadow: 0px 12px 56px 3px rgba(116, 33, 176, 0.48);
            border-radius: 10px;
            border: none;
            margin-top: -23px;
            margin-bottom: -23px;
		}

		&__steps-text span{
            color: #7421B0;
		}


}

.helping{
    margin-bottom: 200px;
    .title{
        position: relative;
        cursor: pointer;
        &::before{
            content: url('../images/uses-after-svg.svg');
            position: absolute;
            top: -110px;
            left: 35%;
            opacity: 0;
            transition: all 0.3s;
        }
        &:hover{
            &::before{
                opacity: 1;
            }
        }
    }
}

.faq {
    background: linear-gradient(123.35deg, rgba(235, 243, 208, 0.05) 0%, rgba(235, 243, 208, 0) 18.4%), radial-gradient(29.9% 70.94% at 44.25% 86.96%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(33.83% 53.57% at 35.87% 100%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, rgba(203, 173, 235, 0.05) 0%, rgba(194, 166, 241, 0) 100%), linear-gradient(134.59deg, rgba(205, 249, 232, 0.05) 20.63%, rgba(205, 249, 232, 0) 47.84%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, rgba(192, 169, 240, 0.05) -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, rgba(192, 169, 240, 0.05) 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, rgba(255, 253, 177, 0.05) 0%, rgba(254, 228, 191, 0.05) 34.46%, rgba(240, 189, 208, 0.05) 69.5%, rgba(255, 129, 38, 0) 100%), rgba(194, 166, 241, 0.05);
    backdrop-filter: blur(40px);
    padding: 100px 0 135px;
    margin-bottom: 200px;
    
    .title{
        margin-bottom: 60px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        &::before{
            content: url('../images/faq-lefl-bg.png');
            position: absolute;
            left: -10%;
            top:10%;
            z-index: -1;
        }
        &::after{
            content: url('../images/faq-right-bg-1.png');
            position: absolute;
            right:-7%;
            bottom:10%;
            z-index: -1;
        }
    }

    &__list-box {
        margin-bottom: 20px;
        padding: 35px 220px 5px;
        background: rgba(196, 196, 196, 0.1);
        border: 4px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        backdrop-filter: blur(40px);
        border-radius: 16px;
        counter-increment: section;
    }

    &__list-title {
        font-size: 24px;
        line-height: 38px;
        color: #131313;
        @extend%rub-medium;
        position: relative;
        cursor: pointer;
        margin-bottom: 35px;
        &::before{
            position: absolute;
            left: -140px;
            content: "0" counter(section) ". ";
            font-size: 36px;
            line-height: 43px;
            color: #7421B0;
        }
        &::after{
            position: absolute;
            right: -200px;
            content: url('../images/plus-faq.svg');
            width: 40px;
            height: 40px;
            transition: all 0.3s;
        }
    }
    &__list-text{
        opacity: 0;
        overflow: hidden;
        position: absolute;
        clip: rect(0,0,0,0);
        transition: all 0.3s ease-out;
        margin-top: -20px;
    }

    &__list-box.active{
        .faq__list-text{
            opacity: 1;
            position: relative;
            clip: auto;
        }
        .faq__list-title::after{
            transform: rotate(45deg);
        }
    }
}

.join {
    margin-bottom: 200px;
    position: relative;
    &__inner {
        display: flex;
        gap: 150px;
        justify-content: center;
        align-items: flex-end;
    }

    &__content {
        flex-basis: 700px;
        display: flex;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 60px;
        font-size: 36px;
        line-height: 140%;
        color: #131313;
    }

    &__button {
        max-width: 245px;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        @extend%rub-medium;
        padding: 23px 47px;
        background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
        border-radius: 5px;
        border: none;
    }
    &__save-img{
        &::before{
            content: "";
            background: linear-gradient(123.35deg, rgba(235, 243, 208, 0.05) 0%, rgba(235, 243, 208, 0) 18.4%), radial-gradient(29.9% 70.94% at 44.25% 86.96%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(33.83% 53.57% at 35.87% 100%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, rgba(203, 173, 235, 0.05) 0%, rgba(194, 166, 241, 0) 100%), linear-gradient(134.59deg, rgba(205, 249, 232, 0.05) 20.63%, rgba(205, 249, 232, 0) 47.84%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, rgba(192, 169, 240, 0.05) -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, rgba(192, 169, 240, 0.05) 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, rgba(255, 253, 177, 0.05) 0%, rgba(254, 228, 191, 0.05) 34.46%, rgba(240, 189, 208, 0.05) 69.5%, rgba(255, 129, 38, 0) 100%), rgba(194, 166, 241, 0.05);
            border: 3px solid rgba(255, 255, 255, 0.12);
            box-sizing: border-box;
            backdrop-filter: blur(40px);
            border-radius: 10px;
            position: absolute;
            left: 0;
            top: 50%;
            width: 30%;
            height: 50%;
            z-index: -1;
        }
    }
}

.join-img {
    max-width: 144px;
    max-height: 144px;
    object-fit: contain;
    object-position: center;
}

.footer {
    padding: 60px 0;
    background-color: #FAFAFA;
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__box-title {
        font-size: 20px;
        line-height: 160%;
        color: #131313;
        @extend%rub-medium;
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    &__list-item {
        line-height: 36px;
    }

    &__list-link{
        color: #7421B0;
    }

    .policy{
        .footer__list-link{
            color: #828282;
            }
    }
    .menu {
        margin-left: 0;
        &__list {
            flex-direction: column;
            gap: 5px;
        }
        &__list-item {
            font-size: 18px;
            line-height: 36px;
            text-align: left;
            color: #828282;
            @extend%rub-regular;
            transition: all 0.3s;
            &:hover{
            color: #7421B0;
          }
        }
    }
}


@import "media";




